.App {
  text-align: center;
  border: 1px #21ba45 solid;
  border-radius: 10px;
  margin: 1.5em;
  padding: 1em;
}


.App a:link, a:visited {
  text-decoration: none;
  color: darkgrey;
}

.Form {
  padding: 10px;
}

.Form div {
  padding-bottom: 5px;
}

.Item {
  padding-bottom: 1.5em;
  padding-top: 1em;
  width: 60%;
  margin: 0 auto 1em auto;
}

.ItemDetailView {
  font-size: 110%;
}

.ItemDetailView button {
  border-radius: 5px;
}

#AddItem {
  padding: 1em;
  max-width: 65%;
  margin: auto;
}

.Header {
  margin-top: 1.5em;
}

.Footer {
  color: darkgrey;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
} 